<main>
  <app-header />
  <section class="home">
    <section>
      <div class="container">
        <app-container>
          <app-text texto="Olá, Marcos Ferreira" cor="gradient" />
          <app-text texto="Posso ajudar?" />
        </app-container>
        <app-grid>
          @for (card of cards; track card.id) {
            <app-card text="{{ card.text }}" icon="{{ card.icon }}" />
          }
        </app-grid>
      </div>
      <app-input placeholder="Digite uma pergunta ou comando" />
      <p>
        O Gemini pode apresentar informações imprecisas, inclusive sobre pessoas. Por isso, cheque as respostas. <span>Sua privacidade e os apps do Gemini</span>
      </p>
    </section>
  </section>
</main>
