<header>
  <button>
    Gemini
    <span>arrow_drop_down</span>
  </button>
  <button class="btn-mobile" (click)="abrirMenu()">
    <span>menu</span>
  </button>
  <div>
    <app-tag />
    <img src="assets/user.png" alt="User">
  </div>
  <nav class="mobile">
    <div>
      <app-link-btn type="new-chat" icon="add" text="Nova conversa" />
      <button (click)="fecharMenu()">
        <span>close</span>
      </button>
    </div>
    Recentes
    @for (chat of chats; track chat.id) {
      <app-link-btn text="{{ chat.text }}" />
    }
    <app-link-btn icon="keyboard_arrow_down" text="Mostrar mais" />
    <div class="separator"></div>
    @for (action of actions; track action.id) {
      <app-link-btn icon="{{ action.icon }}" text="{{ action.text }}" type="{{ action.class }}" />
    }
    <app-location />
  </nav>
</header>
