header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
    color: var(--white);
    font-size: var(--size-xl);
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    cursor: pointer;

    span {
      font-family: var(--icon);
      font-size: var(--size-2xl);
    }

    &.btn-mobile {
      display: none;
    }
  }

  div {
    display: flex;
    align-items: center;
    gap: var(--spacing-xl);
  }

  nav {
    display: none;
    position: fixed;
    top: 0;
    left: -100vw;
    height: 100vh;
    background-color: var(--primary);
    padding: var(--spacing-lg);
    width: 85%;
    z-index: 1;
    transition: all .3s ease;

    .scroll {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: var(--spacing-md);
      height: 100vh;
      overflow-y: auto;

      app-link-btn {
        width: 100%;
      }
      padding: var(--spacing-lg) 0;
    }

    .separator {
      height: 100%;
      min-height: 64px;
    }

    &.closed {
      left: 0;
      animation-duration: 3s;
      animation-name: menu;
      box-shadow: 0 0 0 1000px rgb(0, 0, 0, .5);
    }

    @keyframes menu {
      from {
        left: -100vw;
      }

      to {
        left: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    button {
      font-size: var(--size-lg);
      display: none;

      &.btn-mobile {
        display: flex;
      }

      span {
        font-size: var(--size-2xl);
      }
    }

    nav {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-lg);

      button {
        display: flex;
        padding: var(--spacing-md);

        span {
          font-size: var(--size-xl);
        }
      }

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
