header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
    color: var(--white);
    font-size: var(--size-xl);
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    cursor: pointer;

    span {
      font-family: var(--icon);
      font-size: var(--size-2xl);
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: var(--spacing-xl);
  }
}
