h2 {
  font-size: var(--size-4xl);
  font-weight: var(--regular);
  color: var(--secondary);
  width: max-content;

  &.gradiente {
    background-image: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
