div {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  padding: 0 var(--spacing-md) 0 var(--spacing-xl);
  border-radius: var(--radius-full);
  background-color: var(--primary);
  width: 100%;

  &:focus-within {
    background-color: var(--btn-hover);
  }

  input {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: var(--size-lg);
    color: var(--white);
    padding: var(--spacing-xl) 0;

    &::placeholder {
      color: var(--grey);
    }

    &:focus {
      outline: none;
    }
  }

  span {
    min-width: 3.375rem;
    height: 3.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--icon);
    font-size: var(--size-xl);
    border-radius: var(--radius-full);
    cursor: pointer;

    &:hover {
      background-color: var(--premium-tag);
    }
  }
}

@media (max-width: 768px) {
  input {
    font-size: var(--size-md) !important;
  }
}
