<app-sidebar>
  <app-link-btn classe="menu" icone="menu" texto="" />

  <section class="container">
    <app-link-btn classe="new-chat" icone="add" texto="Nova conversa" />

    <div class="recent">
      Recentes
      <div class="chat">
        <app-link-btn texto="Esta é minha primeira conversa no gemini">
          <app-more-actions />
        </app-link-btn>
        <app-link-btn texto="Esta é minha segunda conversa no gemini">
          <app-more-actions />
        </app-link-btn>
        <app-link-btn texto="Esta é minha terceira conversa no gemini">
          <app-more-actions />
        </app-link-btn>
        <app-link-btn texto="Esta é minha quarta conversa no gemini">
          <app-more-actions />
        </app-link-btn>
        <app-link-btn texto="Esta é minha quinta conversa no gemini">
          <app-more-actions />
        </app-link-btn>
        <app-link-btn icone="keyboard_arrow_down" texto="Mostrar mais" />
      </div>
    </div>

    <div class="actions">
      <app-link-btn classe="point" icone="contact_support" texto="Ajuda" />
      <app-link-btn icone="history" texto="Atividade" />
      <app-link-btn icone="settings" texto="Configurações" />
    </div>
  </section>
</app-sidebar>
