.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  height: 100%;
  width: 280px;
  transition: all .2s ease;

  &.closed {
    width: 44px;
    animation: slidein 2s ease;

    .recent {
      display: none !important;
    }

    ::ng-deep app-location {
      display: none !important;
    }

    ::ng-deep .link-btn {
      width: 2.5rem;
      height: 2.5rem;
      align-items: center;
      justify-content: center;
      padding: 1rem;
    }

    ::ng-deep .texto {
      display: none;
    }

    ::ng-deep div.marker {
      position: absolute;
      top: .5rem;
      right: 0;
    }
  }

  @keyframes slidein {
    from {
      width: 100%;
    }

    to {
      width: 44px;
    }
  }

  .recent {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    font-size: var(--size-md);
    height: 100%;

    .chat {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xs);
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: var(--spacing-xs);
    height: 100%;
  }
}
