<app-sidebar>
  <app-link-btn type="menu" icon="menu" (click)="menu()" />
  <section #menuElement class="container closed">
    <app-link-btn type="new-chat" icon="add" text="Nova conversa" />
    <div class="recent">
      Recentes
      <div class="chat">
        @for (chat of chats; track chat.id) {
          <app-link-btn text="{{ chat.text }}" type="{{ chat.class }}" />
        }
        <app-link-btn icon="keyboard_arrow_down" text="Mostrar mais" />
      </div>
    </div>
    <div class="actions">
      @for (action of actions; track action.id) {
        <app-link-btn icon="{{ action.icon }}" text="{{ action.text }}" type="{{ action.class }}" />
      }
      <app-location />
    </div>
  </section>
</app-sidebar>
