.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  height: 100%;
  width: 280px;
  transition: all .2s ease;

  &.closed {
    width: 44px;
    animation-duration: 2s;
    animation-name: slidein;

    .recent, app-location {
      display: none !important;
    }

    ::ng-deep .texto {
      display: none;
    }
  }

  @keyframes slidein {
    from {
      width: 100%;
    }

    to {
      width: 44px;
    }
  }

  .recent {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    font-size: var(--size-md);
    height: 100%;

    .chat {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xs);
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: var(--spacing-xs);
    height: 100%;
  }
}
