.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  height: 100%;

  .recent {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    font-size: var(--size-md);
    height: 100%;

    .chat {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xs);
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
  }
}
